.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
  overflow: hidden;
}

.home-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-description {
  font-size: 1.2rem;
  max-width: 700px;
  line-height: 1.6;
}

/* ==== SEARCH BAR ==== */
.search-bar-container {
  background-color: var(--bg-color);
  border-radius: 40px;
  margin-top: 100px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 800px;
}

.search-box {
  display: flex;
  align-items: center;
  flex: 1.5;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 30px;
  background-color: transparent;
}

.date-box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  padding: 10px 14px;
  border-radius: 30px;
  background-color: transparent;
}

.search-box input,
.date-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #333;
  width: 100%;
}

input::placeholder {
  color: #aaa;
}

.icon {
  color: #333;
  flex-shrink: 0;
}

.separator {
  margin: 0 4px;
  color: #999;
}

/* SEARCH BUTTON */
.search-btn {
  background-color: var(--highlight-color);
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;

}

.search-btn:hover {
  background-color: var( --primary-dark);

}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-box,
  .date-box,
  .search-btn {
    width: 100%;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}
